<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music Chart</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<h1>Top Songs</h1>
<ul id="song_list" class="song-list">
    <li>Imagine Dragons - Battle Cry</li>
    <li>Linkin Park - Lying From You</li>
    <li>Ed Sheeran - I See Fire</li>
    <li>The Weekend - Call Out My Name</li>
    <li>Coldplay - Fix You</li>
    <li>Maroon 5 - Memories</li>
    <li>The Offspring - Defy You</li>
    <li>Dua Lipa - Swan Song</li>
    <li>Billie Eilish - Bad Guy</li>
    <li>Bruno Mars - Uptown Funk</li>
    <li>Childish Gambino - This Is America</li>
    <li>Paramore - Decode</li>
</ul>
<nav>
    <a href="/search">Search The Song</a>
</nav>

<script src="/static/js/script.js"></script>

</body>
</html>